# Node modules
node_modules/

# Ignores .env in both frontend and backend
.env

# Logs
*.log

# Ignores the temporary PDFs inside the backend uploads folder
backend/uploads/*

# System files
.DS_Store
Thumbs.db