# Node modules
node_modules/

# Ignores .env in both frontend and backend
.env

# Logs
*.log

# Ignores the temporary PDFs but KEEPS the .gitkeep file
backend/uploads/*
!backend/uploads/.gitkeep

# System files
.DS_Store
Thumbs.db